:root {
  --wynn-green: #55ff55;
}

.wynncraft-character-list {
  display: grid;
  gap: 30px;
  padding: 0px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 0;
}

.wynncraft-character-item {
  display: block;
  margin: 0px;
  padding: 10px;
  background-color: var(--color-surface-layer-2);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--color-surface-layer-2);
  transition: none;
  transition: background-color 0.2s;
  text-align: start;
}

.wynncraft-character-item:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.wynncraft-character-item.expanded {
  grid-column: 1 / -1;
}

.wynn-nametag {
  /*color: var(--wynn-green);*/
  font-family: "Google Sans Code", monospace;
}

.wynn-username {
  margin-left: 6px;
}

.profession-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: auto;
  padding: 0;
  gap: 0.8rem;
}

.profession-list::-webkit-scrollbar {
  height: 6px;
}

.profession-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
.profession-list::-webkit-scrollbar-thumb {
  background: hsl(
    from var(--color-surface-layer-2) h calc(s + 10) calc(l + 30)
  );
  border-radius: 4px;
}
.profession-list::-webkit-scrollbar-thumb:hover {
  background: hsl(
    from var(--color-surface-layer-2) h calc(s + 10) calc(l + 120)
  );
}

.wynn-guild-member-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  list-style: none;
}

.wynn-guild-member-item:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.wynn-guild-member-item {
  display: block;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-surface-layer-2);
  padding: 10px;
  border: 1px solid var(--color-surface-layer-2);
  transition: none;
}

.wynn-mode {
  height: 25px;
}

.wynn-modes {
  display: flex;
  gap: 6px;
  background-color: var(--color-surface-layer-2);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.wynn-rank {
  height: 20px;
  image-rendering: pixelated;
}

.wynn-character-icon {
  height: 100px;
}

.wynn-character-row {
  display: flex;
}

.wynn-classname-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.wynn-restrictions {
  background-color: var(--color-surface-layer-2);
  padding: 10px;
  border: 1px solid var(--color-surface-layer-2);
  border-radius: 15px;
  margin: 20px 0;
}

.wynn-restrictions > p {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.wynn-sort-trigger {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.wynn-char-modal {
  max-width: min(60rem, 90vw);
  overflow-y: auto;
}

.wynn-char-preview {
  text-align: center;
  margin-top: 10px;
}

.wynn-custom-name {
  font-style: italic;
}

.wynn-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

@media screen and (width < 1000px) {
  .wynn-content-container {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}

.wynn-characters-heading {
  display: flex;
  justify-content: space-between;
}

.AbilityTreeOverlay {
  background-color: #140033;
  position: fixed;
  inset: 0;
  animation: overlayShow 600ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1001;
  background-color: #0d0b1a;
}

.AbilityTreeContent {
  overflow-y: auto;
  max-width: 600px;
  padding: 0;
  margin: 0;
  background-color: #373945;
}

.ability-page {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0px;
  aspect-ratio: 9 / 6; /* keeps cells square-ish */
  background-image: url("https://cdn.wynncraft.com/nextgen/abilities/2.1/page.svg");
  background-size: 100%;
  padding: 0px 25px;
}

.ability-node {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ability-tree {
  width: 100%;
  height: 100%;
}

@media screen and (width < 700px) {
  .ability-tree {
    padding: 0;
  }
}

.ability-node img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.page-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nodeBlue {
  transform: scale(1.55);
}

.nodeRed {
  transform: scale(1.3);
}

.wynn-header-close {
  display: flex;
  gap: 1rem;
}

.wynn-description > span {
  display: block;
}

@font-face {
  font-family: "ascii";
  src: url("https://cdn.wynncraft.com/nextgen/fonts/ascii.woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "common";
  src: url("https://cdn.wynncraft.com/nextgen/fonts/common.woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "default";
  src: url("https://cdn.wynncraft.com/nextgen/fonts/default.woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.AbilityTreeTooltip {
  font-family: "ascii";
}

.font-ascii {
  font-family: "ascii";
}

.font-common {
  font-family: "common";
}

.font-default {
  font-family: "default";
}

.wynn-ability-tree-close {
  position: fixed;
  top: 10px;
  right: 10px;
}

.wynn-ability-tree-loading {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.ability-connector {
  animation: pulse ease-in-out 3s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .ability-connector {
    animation: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.wynn-fixed-width {
  display: flex;
  width: 1rem;
  justify-content: center;
  align-items: center;
}

.wynn-storylines {
  display: flex;
  gap: 0.5rem
}